<mat-toolbar>
  <span>Trümmerfaktor</span>
</mat-toolbar>

<div class="container">

  <form class="truemmer-values">

    <mat-label for="raid">Raid</mat-label>
    <mat-select [(ngModel)]="complexity" name="complexity">
      <mat-option *ngFor="let raid of raids" [value]="raid.complexity">
        {{raid.viewValue}}
      </mat-option>
    </mat-select>

    <mat-label for="trolling">Trollfaktor</mat-label>
    <mat-slider [(ngModel)]="trolling" name="trolling" min="1" max="10" step="1" value="5" thumbLabel tickInterval="1">
    </mat-slider>

    <mat-label for="skill">Skill</mat-label>
    <mat-slider [(ngModel)]="skill" name="skill" min="1" max="10" step="1" value="5" thumbLabel tickInterval="1">
    </mat-slider>

    <mat-label for="experience">Erfahrung der Gruppe</mat-label>
    <mat-slider [(ngModel)]="experience" name="experience" min="1" max="10" step="1" value="5" thumbLabel
      tickInterval="1"></mat-slider>

    <mat-label for="motivation">Motivation</mat-label>
    <mat-slider [(ngModel)]="motivation" name="motivation" min="1" max="10" step="1" value="5" thumbLabel
      tickInterval="1"></mat-slider>

  </form>

  <button mat-raised-button color="primary" class="btn" (click)="showTruemmerDialog()">Zwirni fragen</button>

</div>