mat-toolbar {
	.toolbar-spacer {
		flex: 1 1 auto;
	}
}

.card-container {
	display: flex;
	justify-content: center;
	align-items: center;

	mat-card {
		mat-card-content {
			display: flex;
			flex-direction: column;
	
			.input-container {
				display: flex;
				flex-direction: column;
				padding: 15px 0;

				&.horizontal {
					flex-direction: row;
					padding-top: 0;
					& > *:not(:last-child) {
						margin-right: 15px;
					}
				}
	
				label {
					font-family: 'Roboto';
					margin-left: 7px;
				}
			}
		}
	}
}

// browsers
@media (min-width:601px) {
	.card-container {
		height: calc(100vh - 65px);

		mat-card {
			width: 500px;
			margin-bottom: 50px;
		}
	}
}

// phone portrait 
@media (max-width:600px) {
	.card-container {
		height: calc(100vh - 57px);

		mat-card {
			width: 100%;
			height: 100%;
			border-radius: 0;
		}
	}
}