@use "@angular/material" as mat;
@use "m3-theme";

@include mat.core();

body {
  &.dark-theme {
    @include mat.all-component-themes(m3-theme.$dark-theme);

    app-root {
      mat-sidenav-container {
        background-color: rgb(10, 10, 10);
        
        .mdc-text-field--filled:not(.mdc-text-field--disabled) {
          background-color: #222627;
        }
      }
    }
  }
  
  &:not(.dark-theme) {
    @include mat.all-component-themes(m3-theme.$light-theme);
    
    app-root {
      mat-sidenav-container {
        background-color: #cde7eb;
      }
    }
  }
}

html, body { 
  user-select: none;
  height: 100%;
  margin: 0;
}

app-root {
  height: 100vh;
}
