@import '@angular/material/theming';
@import './assets/styles/app-color-palette';
@import './assets/styles/app-theme';

$mat-dark-theme: mat-dark-theme($app-primary, $app-accent, $app-warn);
@include app-style-core();

html {
    height: 100%;
}

body { 
    background:black;
    height: 100%;
    margin: 0;
}

app-root {
	display: block;
    height: calc(100% - 56px);
}

.theme-dark {
    @include app-theme($mat-dark-theme);
}