$app-typography: mat-typography-config(
  $font-family: 'Roboto',
  $title: mat-typography-level(24px, 32px, bold)
);

@mixin app-typography($typography: $app-typography) {
  @include mat-base-typography($typography);
  @include mat-toolbar-typography($typography);
  @include app-root-typography($typography);
}