@import '~@angular/material/theming';
@include mat-core();

$cyan-palette: (
    50: #e0f7f8,
    100: #b2eaee,
    200: #80dde3,
    300: #4dcfd9,
    400: #28c4d1,
    500: #00bacb,
    600: #02aab9,
    700: #05959f,
    800: #068188,
    900: #075e5e,
    A100: #b2eaee,
    A200: #80dde3,
    A400: #28c4d1,
    A700: #05959f,
    contrast: (
        50: black,
        100: black,
        200: black,
        300: black,
        400: black,
        500: black,
        600: black,
        700: white,
        800: white,
        900: white,
        A100: #b2eaee,
        A200: #80dde3,
        A400: #28c4d1,
        A700: #05959f,
    )
);

$app-primary: mat-palette($cyan-palette);
$app-accent: mat-palette($cyan-palette);
$app-warn: mat-palette($mat-red);